
body {
  min-height: 100vh;
  background: #111;
}

.App {
  color: black;
  background-color: red;
  min-height: 100vh;
}

header {
  width: 100%;
  min-height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #111;
  position: relative;
}

.logo {
  font-size: 2em;
  color: red;
  margin-left: 100px;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.genre-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.genre-buttons button {
  margin: 0 1rem;
}

.form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

a.button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

a.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.card {
  width: 25%;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: initial;
  justify-content: space-between;
  display: inline-block;
  max-width: 100%; 
  height: auto;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  text-align: center;
  padding: 10px 20px;
  display: table-row;
  justify-content: space-between;
}

.card h3 {
  color:red;
}

/* Search Bar */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 50%;
  margin-top: 3em;
  padding: 1em;
  border-radius: 5px;
}

.search-bar {
    border: 1px solid black;
    display: flex;
    border-radius: 100vh;
    height: 60px;
    width: 60px;
    padding: 3px;
    position: relative;
    transition: width 700ms cubic-bezier(.25,-0.12,.56,1.32);
    overflow: hidden;
    left: 520px;
    
}

.search-bar__input {
    flex-grow: 1;
    font-size: 1.5rem;
    padding: 0 0.5em;
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    line-height: 60px;
    opacity: 0;
    cursor: pointer;
}

.search-bar__search {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    border: 0;
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 50%;
    margin-left: auto;
    transition: background 350ms ease-out;
}

.search-bar__input:focus {
    outline: 0;
}

.search-bar:focus-within {
    width: 50%;
    border: 1px solid black;
}

.search-bar:focus-within .search-bar__input {
    opacity: 1;
    cursor: initial;
    width: calc(100% - 90px);
}

.search-bar:focus-within .search-bar__search {
   background: black;
   color: white;
   cursor: pointer;
}

.search-bar:focus-within .search-bar__search:hover {
  background: black;
  color: black;
  cursor: pointer;
}