
body {
  min-height: 100vh;
  background: #111;
}

.App {
  color: black;
  background-color: red;
  min-height: 100vh;
}

header {
  width: 100%;
  min-height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #111;
  position: relative;
}

.logo {
  font-size: 2em;
  color: red;
  margin-left: -470px;
}

.logo h2 {
  letter-spacing: 2px;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.genre-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.genre-buttons button {
  margin: 0 1rem;
}

.form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

a.button.active {
  margin-left: -502px;
}

a.button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

a.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/* Cards */

.card {
  width: 25%;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: initial;
  justify-content: space-between;
  display: inline-block;
  max-width: 100%; 
  height: auto;
}

img {
  width: 100%;
  height: 552px;
  vertical-align: middle;
}

.movie-poster{
  width: 20%;
  height: auto;
  vertical-align: middle;
}

.container {
  text-align: center;
  padding: 10px 20px;
  display: table-row;
  justify-content: space-between;
}

.card h3 {
  color:red;
  height: 30px;
  text-align: center;
}

h1 {
  text-align: center;
}

.img {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(3px); /* blur the lowres image */
}

.img > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.img.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}

/* Layout Styles */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
}

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 23rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  text-align: center;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

/* Search Bar */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 50%;
  margin-top: 3em;
  padding: 1em;
  border-radius: 5px;
}

.search-bar {
    border: 1px solid black;
    display: flex;
    border-radius: 100vh;
    height: 60px;
    width: 60px;
    padding: 3px;
    position: sticky;
    transition: width 700ms cubic-bezier(.25,-0.12,.56,1.32);
    overflow: hidden;
    /* left: 520px;
    top: 225px; */
}

.search-bar__input {
    flex-grow: 1;
    font-size: 1.5rem;
    padding: 0 0.5em;
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    line-height: 60px;
    opacity: 0;
    cursor: pointer;
}

.search-bar__search {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    border: 0;
    width: 60px;
    height: 60px;
    background: transparent;
    border-radius: 50%;
    margin-left: auto;
    transition: background 350ms ease-out;
    background-color: black;
}

.search-bar__input:focus {
    outline: 0;
}

.search-bar:focus-within {
    width: 50%;
    border: 1px solid black;
}

.search-bar:focus-within .search-bar__input {
    opacity: 1;
    cursor: initial;
    width: calc(100% - 90px);
}

.search-bar:focus-within .search-bar__search {
   background: black;
   color: white;
   cursor: pointer;
}

.search-bar:focus-within .search-bar__search:hover {
  background: black;
  color: black;
  cursor: pointer;
}

/* Login Form */

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* SignUp Form */

.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.signup-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.signup-box .user-box {
  position: relative;
}

.signup-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* HomePage Greeting */

.box {
  border: 2px solid var(--black);
  padding: 1.75rem;
  text-align: center;
  background: #111;
  border-radius: 2px;
  /* display: inline-block; */
  height: 300px;
  margin: 23rem;
  position: relative;
  /* width: 300px; */
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

h2 {
  color: red;
}

p {
  color: red;
}