
body {
  min-height: 100vh;
  background: #111;
}

.App {
  color: black;
  background-color: red;
  min-height: 100vh;
}

header {
  width: 100%;
  min-height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #111;
  position: relative;
}

.logo {
  font-size: 2em;
  color: red;
  margin-left: 100px;
}

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.genre-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.genre-buttons button {
  margin: 0 1rem;
}

.form{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

a.button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

a.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.card {
  width: 25%;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: initial;
  justify-content: space-between;
  display: inline-block;
  max-width: 100%; 
  height: auto;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  text-align: center;
  padding: 10px 20px;
  display: table-row;
  justify-content: space-between;
}

.card h3 {
  color:red;
}